{% extends "base.html" %}

{% block title %}Change Password - PoshPearl{% endblock %}

{% block content %}
<section class="pp-section">
    <div class="container pp-inline-0b24b920">
        <div class="pp-card">
            <div class="pp-card__header pp-inline-7023da70">
                <h1>Change Password</h1>
                <p class="pp-inline-51d0dbb3">Update your account password</p>
            </div>
            <div class="pp-card__body">
                <form method="post">
                    {% csrf_token %}
                    <div class="pp-inline-329a9c9e">
                        <label class="pp-inline-a38be050" for="{{ form.old_password.id_for_label }}">Current Password</label>
                        <input class="pp-inline-d1c17af5" type="password" name="{{ form.old_password.name }}" id="{{ form.old_password.id_for_label }}" required>
                        {% if form.old_password.errors %}
                        <p class="pp-inline-c7b18d35">{{
                            form.old_password.errors.0 }}</p>
                        {% endif %}
                    </div>

                    <div class="pp-inline-329a9c9e">
                        <label class="pp-inline-a38be050" for="{{ form.new_password1.id_for_label }}">New Password</label>
                        <input class="pp-inline-d1c17af5" type="password" name="{{ form.new_password1.name }}" id="{{ form.new_password1.id_for_label }}" required>
                        {% if form.new_password1.errors %}
                        <p class="pp-inline-c7b18d35">{{
                            form.new_password1.errors.0 }}</p>
                        {% endif %}
                    </div>

                    <div class="pp-inline-7b9b298e">
                        <label class="pp-inline-a38be050" for="{{ form.new_password2.id_for_label }}">Confirm New
                            Password</label>
                        <input class="pp-inline-d1c17af5" type="password" name="{{ form.new_password2.name }}" id="{{ form.new_password2.id_for_label }}" required>
                        {% if form.new_password2.errors %}
                        <p class="pp-inline-c7b18d35">{{
                            form.new_password2.errors.0 }}</p>
                        {% endif %}
                    </div>

                    <button type="submit" class="pp-btn primary pp-inline-7553494c">
                        <i class="fa-solid fa-key"></i> Update Password
                    </button>
                </form>

                <div class="pp-inline-78107b88">
                    <a class="pp-inline-ab209c9b" href="{% url 'dashboard' %}">
                        <i class="fa-solid fa-arrow-left"></i> Back to Dashboard
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}